<div class="overflow-hidden rounded-lg border border-gray-200 shadow-md m-5">
    <div class="flex justify-between p-4">
        <h1 class="font-bold text-3xl text-[#0c64f0]">{{title}}</h1>
        <button 
            class="font-bold rounded-lg text-lg w-36 h-12 bg-[#0c64f0] text-[#ffffff] justify-center"
            routerLink="/alumnos"
        >
            Volver
        </button>
    </div>
    <form  class="m-4">
        <div class="flex flex-col my-4">
            <label for="nombre" class="block text-lg text-gray-400">Nombre</label>
            <input 
                type="text"
                name="nombre"
                id="nombre"
                placeholder="Type your name.."
                autocomplete="off"
                [(ngModel)]="alumno.nombre"
                class="mt-2 w-full p-2.5 text-lg font-medium placeholder-gray-400/70 rounded-lg border bg-white text-gray-600 focus:border-blue-800 focus:ring-blue-800 focus:outline-none focus:ring focus:ring-opacity-300">
            @if (error?.nombre) {
                <p class="mt-3 text-lg text-red-400">{{error.nombre}}</p>
            }
        </div>
        <div class="flex flex-col my-4">
            <label for="apellido" class="block text-lg text-gray-400">Apellido</label>
            <input 
                type="text"
                name="apellido"
                id="apellido"
                placeholder="Type your lastname.."
                autocomplete="off"
                [(ngModel)]="alumno.apellido"
                class="mt-2 w-full p-2.5 text-lg font-medium placeholder-gray-400/70 rounded-lg border bg-white text-gray-600 focus:border-blue-800 focus:ring-blue-800 focus:outline-none focus:ring focus:ring-opacity-300">
            @if (error?.apellido) {
                <p class="mt-3 text-lg text-red-400">{{error.apellido}}</p>
            }
        </div>
        <div class="flex flex-col my-4">
            <label for="email" class="block text-lg text-gray-400">Email</label>
            <input 
                type="email"
                name="email"
                id="email"
                placeholder="Type your email.."
                autocomplete="off"
                [(ngModel)]="alumno.email"
                class="mt-2 w-full p-2.5 text-lg font-medium placeholder-gray-400/70 rounded-lg border bg-white text-gray-600 focus:border-blue-800 focus:ring-blue-800 focus:outline-none focus:ring focus:ring-opacity-300">
            @if (error?.email) {
                <p class="mt-3 text-lg text-red-400">{{error.email}}</p>
            }
        </div>
        <div>
            <button 
                type="button"
                (click)="alumno.id ? editar() : crear()"
                class="font-bold rounded-lg text-lg w-36 h-12 bg-[#0c64f0] text-[#ffffff] justify-center"
            >
                {{alumno.id ? 'Actualizar' :'Crear'}}
            </button>
        </div>
    </form>
</div>