<div class="relative overflow-x-auto sm:rounded-lg max-w max-h-screen m-2 p-4 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  <div class="flex justify-between align-middle">
    <h1>Examenes</h1>
    <button class="btn btn-primary btn-sm rounded" routerLink="/examenes/form">
      Crear Examen
    </button>
  </div>
  <hr />
  @if (lista.length > 0) {
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">ID</th>
        <th scope="col" class="px-6 py-3">Nombre</th>
        <th scope="col" class="px-6 py-3">Creado en</th>
        <th scope="col" class="px-6 py-3">Editar</th>
        <th scope="col" class="px-6 py-3">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      @for (examen of lista; track $index) {
      <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
        <td
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          {{ examen.id }}
        </td>
        <td class="px-6 py-4">
          {{ examen.nombre }}
        </td>
        <td>
          {{ examen.createAt | date: 'yyyy/MM/dd'}}
        </td>
        <td class="px-6 py-4">
          <button
            class="btn btn-secondary btn-sm"
            [routerLink]="['/examen/form', examen.id]"
          >
            editar
          </button>
        </td>
        <td class="px-6 py-4">
          <button class="btn btn-danger btn-sm" (click)="eliminar(examen)">
            eliminar
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
  <mat-paginator
    [length]="totalRegistros"
    [pageSize]="totalPorPagina"
    [pageIndex]="paginaActual"
    [pageSizeOptions]="pageSizeOptions"
    (page)="paginar($event)"
    showFirstLastButtons
    class="float-left mx-2"
  >
  </mat-paginator>
  } @else {
  <div class="alert alert-info">No hay examenes en el sistema.</div>
  }
</div>
